.card-height-width{
  top: 210px !important;
  left: 580px !important;
  width: 746px !important;
  height: 270px !important;
  border: 1px solid #DDDDDD !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  margin-top: 15%;
}
.main-card-fixed{
  border-radius: 10px !important;
  height: 43vh !important;
  min-height: 400px !important;
  marginTop:'2%' !important;
}
