.videotitle{
    color: #001839 !important;
    font-family: Rubik !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}
.padd-20{
    padding: 20px;
}
.imagelist{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 490px;
}
.img-thumb{
    width: fit-content;
}
.imagelist img{
    border-radius: 10px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.addMoreThumb{
    background:rgba(0,24,57,0.20);
    margin-right: 10px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    margin-top: -6px;
}
.moreData{
    color: #001839;
    font-family: Rubik;
    font-weight: 500;
    line-height: 15px;
    font-size: 14px;
}
.graphAreaLegend{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #f6f6f6 !important;
    border:1px solid #ddd;
}
.graphAreaLegend:hover{
    box-shadow: none !important;
}
.graph div{
    float: right;
}
.legendValue svg{
    transform: translate(-42px,-15px);
}

.videocard-box-skeleton{
    max-width: 100% !important;
    min-width: 100%;
    padding: 20px !important;
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 10px !important;
    margin-bottom: 20px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.videocard-box-skeleton:hover {
    box-shadow: 0px 3px 10px  #00000033 !important
}
.card-graph-legend{
    display: flex;
}
.nivolegends{
    width: 100px;
    margin-left: 30px;
}
.legendValueSkel{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.video-cards{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 530px);
}
.rect-video-thumb{
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.imagecard-box-skeleton{
    max-width: 100% !important;
    min-width: 100%;
    padding: 20px !important;
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 10px !important;
    margin-bottom: 20px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.imagecard-box-skeleton:hover {
    box-shadow: 0px 3px 10px  #00000033 !important
}
.imagecards-skel-box{
    display: flex;
    flex-wrap: wrap;
}
.imagecards-skel{
    width: 120px;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.nivolegends{
    width: 200px;
    margin-left: 30px;
}
.legendValueSkel{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.no-border-radius{
    border-radius: 0px !important;
}
.border-tlr-none{
    border-top:transparent;
    border-right: transparent;
    border-left: transparent;
}
