.MuiLinearProgress-barColorPrimary{
    background-color: #001839 !important;
}
.MuiLinearProgress-colorPrimary{
    background-color: #F6F3E6 !important;
}
.LineValue{
    max-width:55px !important;
    text-align:left;
}