.video-title{
    font-size: 14px !important;
    font-weight: 500 !important;
    word-wrap: break-word;
    // width: 100%;
    // width: calc(100% - 50px);
    overflow: hidden;
    display: -webkit-box !important;
    /* font-weight: 500 !important; */
    text-overflow: ellipsis !important;
    line-height: 20px !important;
    word-break: break-word !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
    color: #001839 !important;
    text-align: justify;
}
.div-flex{
    padding-left: 3px;
}
.video-cell{
    font-size: 13px !important;
}
.video-thumbnail{
    width: 80px;
    height: 80px;
    cursor: pointer;
    min-width:80px;
}
.part-transcript{
    word-wrap: break-word;
    width: 100%;
    overflow: hidden;
    display: -webkit-box !important;
    /* font-weight: 500 !important; */
    text-overflow: ellipsis !important;
    line-height: 20px !important;
    word-break: break-word !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    font-size: 13px !important;
    color: #001839 !important;
    text-align: justify;
    cursor: default;
}
.question-title{
    overflow: hidden;
    display: -webkit-box !important;
    /* font-weight: 500 !important; */
    text-overflow: ellipsis !important;
    line-height: 20px !important;
    /* word-break: break-word !important; */
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
    font-size: 13px !important;
    color: #001839 !important;
    text-align: left;
    // width: calc(100% - 50px);
}
.flex{
    display: flex;
}
.highlighted-tag {
  background-color: #3d3f3e33;
  border-radius: 5px;
  padding: 4px;
}

.tag-button{
    color: #FFF !important;
    font-size: 12px;
    letter-spacing: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    height: 30px;
    margin: 10px 0px;
    display: flex;
    align-items:center;
    width: fit-content;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    display: block !important;
    text-overflow: ellipsis;
    line-height: 17px !important;
    word-break: break-all !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;

}
.tag-button-high-level{
    color: #001839 !important;
    font-size: 12px;
    letter-spacing: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    height: 30px;
    margin: 10px 0px;
    display: flex;
    align-items:center;
    width: fit-content;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    display: block !important;
    text-overflow: ellipsis;
    line-height: 17px !important;
    word-break: break-all !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;

}